version: '3'
services:
  app:
    build: 
      context: ..
      dockerfile: docker/Dockerfile
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=db
      - DB_USER=root
      - DB_PASSWORD=admins25
      - DB_DATABASE=alimop
    depends_on:
      - db

  db:
    image: mysql:8.0
    environment:
      - MYSQL_ROOT_PASSWORD=admins25
      - MYSQL_DATABASE=alimop
    ports:
      - "3307:3306"