<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro - ALIMOP</title>
    <link rel="stylesheet" href="../CSS/styleCliente/registro.css">
</head>
<body>
    <header>
            <h1>Registro de Usuario</h1>
            <a href="/" class="btn-volver"> Volver a Inicio</a>
    </header>
    <main>
        <section class="form-container">
            <form class="registro-form" action="/registroCliente" method="post">
                <h2>Registrate</h2>
                <span class="form-description">Usa un correo y contraseña para registrarte</span>
                <div class="form-group">
                    <input type="text" id="Regnombre" name="Regnombre" placeholder="Ingresa un nombre de usuario" required>
                </div>
                <div class="form-group">
                    <input type="email" id="Regemail" name="Regemail" placeholder="Ingrese su correo" required>
                </div>
                <div class="form-group">
                    <input type="password" id="Regpassword" name="Regpassword" placeholder="Ingrese su contraseña" required>
                </div>
                <button type="submit" class="btn-registro">Registrarse</button>
                <p class="login-link">¿Ya tienes una cuenta? <a href="../Cliente/loginCliente">Inicia sesión aquí</a></p>
            </form>
        </section>
    </main>
    <footer>
        <h2 class="FinalPagina">TODOS LOS DERECHOS RESERVADOS</h2>
        <p>© 2025 ALIMOP. Todos los derechos reservados.</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="../JS/Cliente/animacionRegistro.js"></script>
</body>
</html>